*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: auto;
    min-height: 100vh;
    background: rgb(29,1,43);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(22,40,136,1) 100%);
    position: relative;
}
.Wrapper{
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-95%, 40%);
    position: relative;
}
.Earth{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: url(./assents/Earth.png);
    background-position-x: -100px;
    background-position-y: -60px;
    box-shadow: inset 0 0 20px,
                inset -40px -10px 20px rgba(3, 25, 37, 0.7);
    position: relative;    
    overflow: hidden;
    transition: all 1s ease-in-out;
    
}
.ShadowEarth{
    width: 500px;
    height: 35px;
    box-shadow: inset 0 0 20px 20px rgba(3, 25, 37, 0.7);
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 5px;
    z-index: -1;
}
.ping{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    top: 31%;
    left: 40%;
    position: relative;
    transition: top 1s ease-in-out, left 1s ease-in-out;
}

.country{
    color:black;
    position: absolute;
    top:-22px;
    font-size: 23px;
}
.move{
    display: none;
}
.active{
    color: transparent;
}
.Nav-aside{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    top: 100px;
    left: 150px;
    background-color: white;
    transition: height 0.5s ease;
    overflow: hidden;
}

.Container-country{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: white;
}
.country-S{
    display: flex;
    padding-left: 10px;
    align-items: center;
    width: 95%;
    height: 50px;
    margin: 10px 0 10px 10px;
    border-radius: 20px;
    transition: background 0.3s ease-in-out;
}
.country-S.container{
    cursor: pointer;
    margin: 0 0 5px 10px;
}

.country-S.container:hover{
    background-color: lightgray
}
.C-Select{
    width: 80px;
    font-size: 20px
}
.Icon-Select{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;

}
.line{
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 100px;
}

.lines{
    width: 30px;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease, opacity 0.2s ease;

}

.lines:nth-child(1){
    top:25%;
}
.lines:nth-child(3){
    top:75%;
}

.lines.activel:nth-child(1){
    top:35%;
    transform: 
        translate(-50%, -50%)
        rotate(45deg);
}
.lines.activel:nth-child(2){
    top:35%;
    transform: 
        translate(-50%, -50%)
        rotate(-45deg);
}   
.lines.activel:nth-child(3){
    opacity: 0;
}
.Content-Container{
    display: flex;
    width: 700px;
    height: 800px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 1100px;
    border-radius: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;   
    overflow-y: auto;
    scroll-behavior: smooth;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.inSide{
    opacity: 1;
}

.Content-Container::-webkit-scrollbar{
    width: 10px;
}
.Content-Container::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 5px;
}
