@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: auto;
    min-height: 100vh;
    background: rgb(29,1,43);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(22,40,136,1) 100%);
    position: relative;
    font-family: 'Onest', Verdana, Geneva, Tahoma, sans-serif;
}
.Wrapper{
    width: 500px;
    top: 200px;
    left: 700px;
    transform: scale(1.2);
    position: relative;
    transition: left 1s ease, transform 1s ease;
}
.W-active{
    left: 500px;
    transform: scale(1);
}
.Earth{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: url(./assents/Earth.png);
    background-position-x: -100px;
    background-position-y: -60px;
    box-shadow: inset 0 0 20px,
                inset -40px -10px 20px rgba(3, 25, 37, 0.7);
    position: relative;    
    overflow: hidden;
    transition: all 1s ease-in-out;
    
}
.ShadowEarth{
    width: 500px;
    height: 35px;
    box-shadow: inset 0 0 20px 20px rgba(3, 25, 37, 0.7);
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 5px;
    z-index: -1;
}
.ping{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    top: 31%;
    left: 40%;
    position: relative;
    transition: top 1s ease-in-out, left 1s ease-in-out;
}

.country{
    color:black;
    position: absolute;
    top:15px;
    font-size: 18px;
    font-weight: bold;
}
.move{
    display: none;
}
.active{
    color: transparent;
}
.Nav-aside{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 60px;
    border-radius: 30px;
    top: 100px;
    left: 50px;
    background-color: white;
    box-shadow: -10px 10px 10px rgba(3, 25, 37, 0.5);
    transition: height 0.25s ease-in;
    overflow: hidden;
    font-weight: bold;
}

.Container-country{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: white;
}
.country-S{
    display: flex;
    padding-left: 10px;
    align-items: center;
    width: 95%;
    height: 50px;
    margin: 10px 0 10px 10px;
    border-radius: 20px;
    transition: background 0.3s ease-in-out;
}
.country-S.container{
    cursor: pointer;
    margin: 0 0 5px 10px;
}

.country-S.container:hover{
    background-color: lightgray
}
.C-Select{
    width: 150px;
    font-size: 20px
}
.Icon-Select{
    width: 35px;
    height: 35px;
    margin: 0 10px 0 0;

}
.line{
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 220px;
    opacity: 1;
    transition: opacity 0.5s ease;;
}

.lines{
    width: 30px;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease, opacity 0.2s ease;

}
.lines:nth-child(1){
    top:25%;
}
.lines:nth-child(3){
    top:75%;
}

.lines.activel:nth-child(1){
    top:35%;
    transform: 
        translate(-50%, -50%)
        rotate(45deg);
}
.lines.activel:nth-child(2){
    top:35%;
    transform: 
        translate(-50%, -50%)
        rotate(-45deg);
}   
.lines.activel:nth-child(3){
    opacity: 0;
}
.loader-container{
    display: none;
    position: relative;
    width: 50px;
    height: 40px;
    margin-left: 225px;
}
.loader{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    background-color: transparent;
    border: 4px solid transparent;
    border-top-color: black;
    border-left-color: black;
    border-radius: 50%;
    animation: loade 0.5s linear infinite;
}
@keyframes loade {
    0%{
        transform: 
            rotate(0deg);
    }

    100%{
        transform: 
            rotate(360deg);
    }
}
.Content-Container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    width: 700px;
    height: 800px;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 1100px;
    border-radius: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: -15px 15px 10px rgba(3, 25, 37, 0.7);
    padding: 30px;   
    overflow-y: auto;
    scroll-behavior: smooth;
    opacity: 0;
    transition: opacity 1s ease;
}
.inSide{
    opacity: 1;
}

.Content-Container::-webkit-scrollbar{
    width: 10px;
}
.Content-Container::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 5px;
}
.Content-Container h1, .Content-Container h2{ 
    border: none;
    border-bottom: 2px solid black;
    font-family: 'Playfair Display', 'Courier New', Courier, serif;
    font-weight: 800;
    padding-left: 5px;
}
.Content-Container p{
    margin-left: 10px;
    font-family: 'Onest', Verdana, Geneva, Tahoma, sans-serif;
}
.Content-Container li{
    width: fit-content;
    margin-left: 40px;
}
.C-Content-Flag{
    position: absolute;
    opacity: 0;
    top: 650px;
    left: 60px;
    width: 400px;
    height: 250px;
    border-radius: 30px;
    background-color: white;
    z-index: -2;
    box-shadow: -15px 15px 10px rgba(3, 25, 37, 0.9);
    transition: opacity 1s ease;
}
.C-Content-Flag span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -65px;
    left: 70px;
    width: 250px;
    height: 50px;
    box-shadow: -10px 10px 20px rgba(3, 25, 35, 0.8);
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    background-color: white;
}   
.Content-Flag{
    position: absolute;
    opacity: 0;
    top: 280px;
    left: 60px;
    width: 400px;
    height: 250px;
    border-radius: 30px;
    z-index: -2;
    box-shadow: -15px 15px 10px rgba(3, 25, 37, 0.9);
    transition: opacity 1s ease;
}
.Content-Flag span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -65px;
    left: 70px;
    width: 250px;
    height: 50px;
    box-shadow: -10px 10px 20px rgba(3, 25, 35, 0.8);
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    background-color: white;
} 
@media screen and (min-width: 1024px) and (max-width: 1440px){
    body{
        width: auto;
        height: auto;
        min-width: auto;
    }
    .Wrapper{
        top: 50px;
        left: 440px;
        transform: scale(0.83);
    }
    .W-active{
        left: 280px;
        transform: scale(0.75);
    }
    .Nav-aside{
        width: 350px;
        height: 60px;
        top: 50px;
    }
    .C-Select{
        font-size: 17px;
    }
    .Icon-Select{
        width: 20px;
        height: 20px;
    }
    .line{
        margin-left: 110px;
    }
    .loader-container{
        margin-left: 115px;
    }
    .Content-Flag span{
        width: 100px;
        height: 30px;
        font-size: 10px;
        top: -50px;
        left: 60px;        
    }
    .Content-Flag{
        top: 200px;
        width: 250px;
        height: 150px;
        background-size: contain;
    }
    .C-Content-Flag{
        top: 450px;
        width: 250px;
        height: 150px;
        background-size: contain;
    }
    .C-Content-Flag span{
        width: 130px;
        height: 30px;
        font-size: 10px;
        top: -50px;
        left: 50px;        
    }
    .Content-Container{
        left: 750px;
        top: 50px;
        width: 500px;
        height: 560px;
    }
    .Content-Container h1, .Content-Container h2{ 
       font-size: 25px;
    }
    .Content-Container p{
        font-size: 13px;
    }
    .Content-Container li{
       font-size: 13px;
    }
}