@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: auto;
    min-height: 100vh;
    background: rgb(29,1,43);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(22,40,136,1) 100%);
    position: relative;
    background-repeat: no-repeat;
    font-family: 'Onest', Verdana, Geneva, Tahoma, sans-serif;
}
.Wrapper{
    width: 500px;
    top: 200px;
    left: 500px;
    position: relative;
}
.Earth{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: url(./assents/Earth.png);
    background-position-x: -100px;
    background-position-y: -60px;
    box-shadow: inset 0 0 20px,
                inset -40px -10px 20px rgba(3, 25, 37, 0.7);
    position: relative;    
    overflow: hidden;
    transition: all 1s ease-in-out;
    
}
.ShadowEarth{
    width: 500px;
    height: 35px;
    box-shadow: inset 0 0 20px 20px rgba(3, 25, 37, 0.7);
    border-radius: 50%;
    position: absolute;
    top: 500px;
    left: 5px;
    z-index: -1;
}
.ping{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    top: 31%;
    left: 40%;
    position: relative;
    transition: top 1s ease-in-out, left 1s ease-in-out;
}

.country{
    color:black;
    position: absolute;
    top:-22px;
    font-size: 18px;
}
.move{
    display: none;
}
.active{
    color: transparent;
}
.Nav-aside{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 60px;
    border-radius: 30px;
    top: 100px;
    left: 50px;
    background-color: white;
    box-shadow: -10px 10px 10px rgba(3, 25, 37, 0.5);
    transition: height 0.25s ease-in;
    overflow: hidden;
    font-weight: bold;
}

.Container-country{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: white;
}
.country-S{
    display: flex;
    padding-left: 10px;
    align-items: center;
    width: 95%;
    height: 50px;
    margin: 10px 0 10px 10px;
    border-radius: 20px;
    transition: background 0.3s ease-in-out;
}
.country-S.container{
    cursor: pointer;
    margin: 0 0 5px 10px;
}

.country-S.container:hover{
    background-color: lightgray
}
.C-Select{
    width: 140px;
    font-size: 18px
}
.Icon-Select{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;

}
.line{
    position: relative;
    width: 50px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 100px;
    opacity: 1;
    transition: opacity 0.5s ease;;
}

.lines{
    width: 30px;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease, opacity 0.2s ease;

}
.lines:nth-child(1){
    top:25%;
}
.lines:nth-child(3){
    top:75%;
}

.lines.activel:nth-child(1){
    top:35%;
    transform: 
        translate(-50%, -50%)
        rotate(45deg);
}
.lines.activel:nth-child(2){
    top:35%;
    transform: 
        translate(-50%, -50%)
        rotate(-45deg);
}   
.lines.activel:nth-child(3){
    opacity: 0;
}
.loader-container{
    display: none;
    position: relative;
    width: 50px;
    height: 40px;
    margin-left: 110px;
}
.loader{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    background-color: transparent;
    border: 4px solid transparent;
    border-top-color: black;
    border-left-color: black;
    border-radius: 50%;
    animation: loade 0.5s linear infinite;
}
@keyframes loade {
    0%{
        transform: 
            rotate(0deg);
    }

    100%{
        transform: 
            rotate(360deg);
    }
}
.Content-Container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    width: 700px;
    height: 800px;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 1100px;
    border-radius: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: -15px 15px 10px rgba(3, 25, 37, 0.7);
    padding: 30px;   
    overflow-y: auto;
    scroll-behavior: smooth;
    opacity: 0;
    transition: opacity 1s ease;
}
.inSide{
    opacity: 1;
}

.Content-Container::-webkit-scrollbar{
    width: 10px;
}
.Content-Container::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 5px;
}
.Content-Container h1, .Content-Container h2{ 
    border: none;
    border-bottom: 2px solid black;
    font-family: 'Playfair Display', 'Courier New', Courier, serif;
    font-weight: 800;
    padding-left: 5px;
}
.Content-Container p{
    margin-left: 10px;
    font-family: 'Onest', Verdana, Geneva, Tahoma, sans-serif;
}
.Content-Container li{
    width: fit-content;
    margin-left: 40px;
}
.Content-Flag{
    position: absolute;
    opacity: 0;
    top: 200px;
    left: 30px;
    width: 400px;
    height: 250px;
    border-radius: 30px;
    z-index: -2;
    box-shadow: -15px 15px 10px rgba(3, 25, 37, 0.9);
    transition: opacity 1s ease;
}